<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<ul class="nav nav-pills">
  <li class="nav-item" [class.btn-primary]="category=='all'">
    <a (click)="(category='all')&&(getNews())">
      Today's Headlines
    </a></li>
  <li class="nav-item" [class.btn-danger]="category=='entertainment'">
    <a (click)="(category='entertainment')&&(getCategory('entertainment'))">
      Entertainment
    </a></li>
  <li class="nav-item" [class.btn-warning]="category=='science'">
    <a (click)="(category='science')&&(getCategory('science'))">
      Science
    </a></li>
  <li class="nav-item" [class.btn-success]="category=='business'">
    <a (click)="(category='business')&&(getCategory('business'))">
      Business
    </a></li>
  <li class="nav-item" [class.btn-info]="category=='technology'">
    <a (click)="(category='technology')&&(getCategory('technology'))">
      Technology
    </a></li>
  <li class="nav-item" [class.btn-warning]="category=='health'">
    <a (click)="(category='health')&&(getCategory('health'))">
      Health
    </a></li>
  <li class="nav-item" [class.btn-success]="category=='sports'">
    <a (click)="(category='sports')&&(getCategory('sports'))">
      Sports
    </a></li>

</ul>

<div [ngSwitch]="category">
  <div *ngSwitchCase="'all'">
    <div class="card category" *ngFor="let a of articles[0].articles">
      <h5 class="card-title"> {{a.title}} </h5>
      <img src="{{a.urlToImage}}" class="card-img-top">
      <div class="card-body">
        <p class="card-subtitle mb-2 text-muted">{{a.publishedAt | date}}</p>
        <p class="card-text">{{a.content}}</p>
        <a href="{{a.url}}">Read More</a>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'entertainment'">
    <div class="card category" *ngFor="let a of categoryArticles[0]">
      <h5 class="card-title">{{a.title}}</h5>
      <img src="{{a.urlToImage}}" class="card-img-top">
      <div class="card-body">
        <p class="card-subtitle mb-2 text-muted">{{a.publishedAt | date}}</p>
        <p class="card-text">{{a.content}}</p>
        <a href="{{a.url}}">Read More</a>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'science'">
    <div class="card category" *ngFor="let a of categoryArticles[0]">
      <h5 class="card-title">{{a.title}} </h5>
      <img src="{{a.urlToImage}}" class="card-img-top">
      <div class="card-body">
        <p class="card-subtitle mb-2 text-muted">{{a.publishedAt | date}}</p>
        <p class="card-text">{{a.content}}</p>
        <a href="{{a.url}}">Read More</a>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'business'">
    <div class="card category" *ngFor="let a of categoryArticles[0]">
      <h5 class="card-title"> {{a.title}}</h5>
      <img src="{{a.urlToImage}}" class="card-img-top">
      <div class="card-body">
        <p class="card-subtitle mb-2 text-muted">{{a.publishedAt | date}}</p>
        <p class="card-text">{{a.content}}</p>
        <a href="{{a.url}}">Read More</a>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'technology'">
    <div class="card category" *ngFor="let a of categoryArticles[0]">
      <h5 class="card-title">{{a.title}}</h5>
      <img src="{{a.urlToImage}}" class="card-img-top">
      <div class="card-body">
        <p class="card-subtitle mb-2 text-muted">{{a.publishedAt | date}}</p>
        <p class="card-text">{{a.content}}</p>
        <a href="{{a.url}}">Read More</a>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'health'">
    <div class="card category" *ngFor="let a of categoryArticles[0]">
      <h5 class="card-title">{{a.title}}</h5>
      <img src="{{a.urlToImage}}" class="card-img-top">
      <div class="card-body">
        <p class="card-subtitle mb-2 text-muted">{{a.publishedAt | date}}</p>
        <p class="card-text">{{a.content}}</p>
        <a href="{{a.url}}">Read More</a>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'sports'">
    <div class="card category" *ngFor="let a of categoryArticles[0]">
      <h5 class="card-title">{{a.title}}</h5>
      <img src="{{a.urlToImage}}" class="card-img-top">
      <div class="card-body">
        <p class="card-subtitle mb-2 text-muted">{{a.publishedAt | date}}</p>
        <p class="card-text">{{a.content}}</p>
        <a href="{{a.url}}">Read More</a>
      </div>
    </div>
  </div>

  <div *ngSwitchDefault>
    <div class="card default">
      <div class="card-body">
        <h5 class="card-title text-center">Welcome to NewsApp</h5>
        <h6 class="card-subtitle mb-2 text-muted text-center">Click on any of the sections above to see news</h6>
        <p class="card-text text-center">We bring to you the latest news from India- from entertainment to sports,
          we will make you aware about every event.
        </p>
      </div>
    </div>
  </div>
</div>